/**Variables**/
:root{
    --main-color: oklch(30% 0.15 200) ;
    --minor-color: oklch(30% 0.15 210) ;
    --bg-color: #d3caa5;
    --txt-color: #fff;
    /* --body-color: #d3d1a5; */
    --body-color: #ffffff;
}
/**General**/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-display: swap;
    /* font-family: "Poppins", sans-serif; */
    /* font-family: "Montserrat", sans-serif; */
    /* font-family: "Roboto", sans-serif; */
    font-family: "Inter", sans-serif;
}
body{
    background: linear-gradient(var(--bg-color) 40%, var(--body-color) 100%);
    background-repeat: no-repeat;
    background-attachment:fixed;
    /* background-color: var(--body-color); */
}

h1, h2{
    font-family: 'Times New Roman', Times, serif;
}
.main-section{
    position: relative;
}
/**Blur**/
.blur{
    filter:blur(6px);
}
/**Header**/
header{
    background-color: var(--main-color);
    padding:20px;
    color:var(--txt-color);
    position: relative;
    user-select: none;
    z-index: 10;
    h1{
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-align:left;
        margin-left: 40%;
        letter-spacing: 1px;
        opacity:0;
    }
    .from-left{
        position:absolute;
        bottom:10px;
        font-size: 16px;
        margin-left:0%;
        font-style: italic;
        color:var(--txt-color);

    }

    .switcher{
        position:absolute;
        top: 25px;
        cursor: pointer;
    }
    #mode-switch{
        right:100px;
    }
    #view-switch{
        right:140px;
    }
}

/**Settings**/

main{
    position: relative;
}
#section-settings{
    position: absolute;
    top:0;
    /* height: 100vh; */
    min-height: 300px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--txt-color);
    transition: none;
    h1{
        text-align: center;
        background-color: var(--main-color);
        border-radius: 10px;
        padding:3px;
        margin: 15px 0;
    }

    #settings{
        user-select: none;
        display: none;
        width:200px;
        background-color: #333;
        color:white;
        padding: 10px;
        margin-left: 10px;
        border-radius: 10px;
        transition: none;
    }

    #arrow{
        cursor: pointer;
        fill:var(--txt-color);
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        gap: 5px;
        label{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width:140px;
            cursor: pointer;
        }
        input[type="text"]{
            width: 100px;
            padding:1px 3px;
            border-radius: 5px;
            /* outline-color: var(--minor-color); */
            outline:none;
        }
        input[type="checkbox"]{
            transform:scale(1.1);
            cursor: pointer;
        }
        input[type="checkbox"]:checked{
            margin-left: 50px;
            accent-color: #4caf50
        }
        input[type="submit"]{
            width: 150px;
            padding: 5px 0px;
            margin-top: 15px;
            background-color: var(--main-color);
            color: var(--txt-color);
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        input[type="submit"]:hover{
            background-color: var(--bg-color);
            color:var(--minor-color);
            transition: all 0.3s ease;
        }
    }
}

/**Main section**/

.main-section{
    display: flex;
    flex-direction: column;
    min-height: 300px;
    gap:20px;
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    color: var(--minor-color);
    /* background-color: var(--bg-color); */
    background-color: #ffffff00;

    h2{
        font-size: 30px;
        user-select: none;
    }

    #greeting{
        font-size: 14px;
        text-align: center;
        user-select: none;
    }
    #weather{
        display: flex;
        flex-direction: column;
        width: 700px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        background-color: var(--main-color);
        padding: 30px 20px;
        border-radius: 20px;
        p{
            color: var(--txt-color);
            font-size: 20px;
            user-select: none;
        }
    }

    #to-do{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        #to-do-container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap:10px;

        }

        h2{
            margin-bottom: 20px;
        }
        input{
            outline:none;
            border: solid 1px var(--bg-color);
            padding:5px 10px;
        }
        input[type="text"]{
            width:350px;
            margin-left: 10px;
            border-radius: 10px;
        }
        input[type="date"]{
            width:150px;
            border-radius: 10px;
        }
        button{
            padding: 5px 18px;
            font-size: 24px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            background-color: var(--main-color);
            color:var(--txt-color);
            transition: all 0.3s ease;
            margin-left: -5px;
        }
        /* button:hover{
            background-color: oklch(90% 0.08 190);
            cursor: pointer;
            color:var(--main-color);
            transition: all 0.3s ease;
        } */
        .del-button{
            padding: 1px 10px;
            font-size: 12px;
            border:none;
            background-color: oklch(30% 0.08 20);
            color:var(--txt-color);
            transition: all 0.3s ease;
            float: right;
            margin-right: 10%;
        }
        .del-button:hover{
            background-color: oklch(80% 0.08 20);
            cursor: pointer;
            color:var(--main-color);
            transition: all 0.3s ease;
        }
        li{
            list-style-type: none;

        }
        li:first-child{
            border-radius: 10px 10px 0 0;
        }
        li:last-child{
            border-radius:0 0 10px 10px;
        }
        li:nth-child(even){
            background-color: var(--main-color);
            color:var(--txt-color)
        }
        li:nth-child(odd){
            background-color: var(--bg-color);
            color:var(--minor-color)
        }
        .div-container{
            display: grid;
            grid-template-columns:5fr 5fr 1fr;
            text-align: start;
            padding: 10px;
            p{
                display:inline;
                font-size: 16px;
            }
        }
        .to-do-span{
            font-size: 12px;
            font-weight: 900;
            color:brown;
        }
        #to-do-output{
            margin-top: 20px;
        }
    }
}
    #search-engine{
        text-align: center;

        #google-text{
            color: var(--main-color);
            text-decoration: none;
        }
        div{
            text-align:start;
            font-size: 17px;
            /* background-color: var(--bg-color); */
            background-color: #ffffff00;
            border:none;
        }
        tr{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        tr>.gsc-result-info-container{
            padding: 10px;
            td{
                font-family: 10px;
            }
        }
        button{
            cursor: pointer;
            background-color: var(--main-color);
            margin-left: -58px;
            border:none;
            padding: 15px;
            border-radius: 20px;
            svg{
                fill:var(--txt-color)
            }

        }
        #gs_st50{
            right:60px;
            border-radius: 10px;
            transform: scale(0.8)
        }
        .gsc-input{
            margin-left: 10px;
            width:60%;
            border-radius: 20px;
        }
        #gsc-i-id1{
            padding: 8px!important;
            font-size: 17px;
        }
        .gsc-wrapper{
            padding:20px;
            width:80%;
            margin: 0 auto;
        }
        .gsc-tabsArea{
            position: relative;
            left:45%;
            transform: translateX(50%), translateY(50%);
        }
        .gsc-tabhActive{
            color: var(--main-color);
            font-size: 18px;
        }
        .gs-title, .gs-previewLink{
            color:rgba(50, 82, 223, 0.836);
            font-size: 18px;
        }
        .gs-title:hover, .gs-title:hover b, .gs-previewLink:hover{
            color:rgba(7, 45, 212, 0.9);
        }
        .gs-title:visited, .gs-title:visited b, .gs-previewLink:visited{
            color:rgba(151, 23, 168, 0.9);
        }
        .gs-visibleUrl{
            color:var(--main-color);
            font-size: 14px;
        }
        .gs-snippet{
            color:var(--minor-color);
            font-size: 14px;
        }
        .gs-previewSize, .gs-previewUrl, .gs-previewDescription{
            color: var(--minor-color);
        }
        .gsc-positioningWrapper{
            width: 70%;
        }
        .gsc-tabHeader:nth-child(1){
            margin-left: 18%;
        }
    }


/**Footer**/
footer{
    background-color: var(--main-color);
    color: var(--txt-color);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    height: 34px;
    width: 100%;
    bottom:0;
    z-index: 2;
    font-size: 12px;
}


/**MediaQuery**/

@media (min-width:1660px){
    .right{
        position:absolute;
        right:85px;
        transform: translateX(80%);
        width:415px !important;
        z-index: 2;
        transition: 0.3s all ease;
        p{
            font-size: 16px !important;
        }
    }
    .right2{
        position:absolute;
        width:415px !important;
        padding: 20px 10px;
        border-radius: 20px;
        right:85px;
        transform: translateX(80%);
        top:196px;
        z-index: 2;
        background-color: var(--main-color);
        transition: 0.3s all ease;
        h2{
            color:var(--txt-color);
        }
        span{
            font-size: 12px !important;
        }
        p{
            font-size: 14px !important;
        }
        button{
            height: 20px;
            width: 70px;
        }
        #to-do-button{
            padding:0px !important;
            font-size: 16px !important;
        }
        li:last-child{
            margin-bottom: 30px;
        }
    }
}

@media (max-width:1660px){
    #view-switch{
        display: none;
    }
}

@media (max-width:1020px){
    .main-section{
        width:100%;
        padding-left: 24px;
        padding-right: 24px;
    }

    header{
        width:100%;
    }
    .gsc-input{
        width:100%;
    }

    #greeting{
        p{
            font-size: 12px;
        }

    }
    #to-do input{
        width: 130px;
    }
    #to-do span{
        font-size: 11px !important;
    }
    #to-do p{
        font-size: 12px !important;
    }
    #weather{
        width:550px !important;
        padding: 20px 0px 0px 20px !important;
        p{
            font-size: 17px !important;
        }
    }
}

@media (max-width:1200px){
    .div-container{
        margin-left: 1% !important;
    }
    .del-button{
        margin-right: 1% !important;
    }
}



/**SMARTPHONE**/

@media (max-width:600px){
    .main-section{
        gap:10px;
        padding: 25px 25px;
    }
    #section-settings{
        top:123px;
        left:40px;
        height: 0px !important;
        min-height: 0px;
        width: 80px;
        z-index: 20;
    }
    #arrow{
        position: absolute;
        top:-150px;
        left:-30px;
    }
    #mode-switch{
        right:30px !important;
    }
    #view-switch{
        right:70px !important;
    }
    #greeting{
        p{
            font-size: 12px !important;
        }

    }
    #weather{
        flex-direction: row !important;
        padding: 0px 0px 0px 10px !important;
        width: 95% !important;
        p{
            font-size: 12px !important;
        }
    }
    #to-do{
        h2{
            font-size: 22px;
        }
        input[type="text"]{
            width:170px !important;
        }
        input[type="date"]{
            width:150px !important;
        }
        button{
            padding: 3px 10px !important;
            margin-left: 0px !important;
        }
    }

    #search-engine{
        .gsc-input{
            width:100% !important;
            margin-left:0px !important;
        }
        .gsc-tabsArea{
            position: relative;
            left:15%;
            transform: translateX(50%), translateY(50%);
        }
        .gsc-wrapper{
            padding:5px;
            width:100%;
        }
        h2{
            font-size: 22px;
        }
        .gsc-control-cse{
            padding: 2px;
        }
        .gsc-tabHeader:nth-child(1){
            margin-left: 40px !important;
        }
        .gsib_a{
            margin-left:20px;
        }
        button{
            margin-left: -50px;
        }
    }

    footer{
        height: 28px;
        font-size: 10px;
    }

}